<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BsmBL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <BsmBL.Properties.Settings>
            <setting name="BsmBL_ReportService_ReportExecutionService" serializeAs="String">
                <value>http://sql2012tst.egged.intra:80/ReportServer/ReportExecution2005.asmx</value>
            </setting>
        </BsmBL.Properties.Settings>
    </applicationSettings>
</configuration>