
@*@model BsmWebApp.ViewModels.Errors.ErrorViewModel*@
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
      @Styles.Render("~/Content/css")
</head>
<body>
     @{
         Layout = null;
    }
@using(Html.BeginForm())
{
<div style="height:500px">
   <div style="height:80px"></div>
     <div class="row">
    

      <div  class="divError"  >
       @*  <div class="ErrorBG col-md-4" style="height:50px;float:left" ></div>*@
         <div style="padding-top:8px" >
            <img src="@Url.Content(ViewBag.Img)"   />
              @ViewBag.ErrorMessege</div>

      </div>
          @*  <div  class="col-md-7" style="font-size:14pt;font-weight:bolder;color:red;text-align: center; "  >@Model.ErrorMessege</div>*@
        
    </div>
</div>
}
</body>
</html>

@*@model System.Web.Mvc.HandleErrorInfo


@{
    Layout = null;
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
*@
