
@*@model BsmWebApp.ViewModels.Errors.ErrorViewModel*@
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
     @{
         Layout = null;
    }
@using(Html.BeginForm())
{
<div style="height:500px">
    <br />
    <br />
     <div class="row">
     <div class="col-md-3"></div>

          <div  class="col-md-7" style="font-size:14pt;font-weight:bolder;color:red;text-align: center; "  > @ViewBag.ErrorMessege</div>
        
          @*  <div  class="col-md-7" style="font-size:14pt;font-weight:bolder;color:red;text-align: center; "  >@Model.ErrorMessege</div>*@
        
    <div class="col-md-3"></div>
    </div>
</div>
}
</body>
</html>

@*@model System.Web.Mvc.HandleErrorInfo


@{
    Layout = null;
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
*@
