
@using ReportViewerForMvc;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  @*  <meta name="viewport" content="width=device-width" />*@
    <title>@Html.ViewBag.NameReport</title>
       <script src='../Scripts/jquery-1.11.1.min.js' type='text/javascript'></script>  
   @*   <meta http-equiv="X-UA-Compatible" content="IE=8" />*@
</head>
<body >
       <div dir="ltr" >
            
               <input type="button"  value="סגור" onclick="window.close()" />  
           <br />
         </div>
  <div  >
      @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { scrolling="no" ,Width=900, Height=750})   
      
    </div>
</body>
</html>
