<suite  name="HourBank">

    <test name="Budget">
    
	

		<classes>

	        <class name="egged.hourbank.automationframework.UpdateMichsa" />
		    <class name="egged.hourbank.automationframework.UnDoChanges" />
            <class name="egged.hourbank.automationframework.ResetMichsa" />
            <class name="egged.hourbank.automationframework.LinkToKds" /> 
            <class name="egged.hourbank.automationframework.AutoAllocation" /> 
            <class name="egged.hourbank.automationframework.ChkPrevMonth" /> 
            <class name="egged.hourbank.automationframework.ChkAutoComplete" /> 
		</classes>
		
		  </test>
		  
		  
		  </suite>