<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="KDS_CONNECTION" connectionString="Data Source=kdstst;User ID=kdsadmin;Password=maayan;" providerName="Oracle.DataAccess.Client"/>
    <add name="BSM_CONNECTION" connectionString="Data Source=kdstst;User ID=HOUR_BANK;Password=HB19GKM;" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>


  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="KdsOracleSchemaName" value="KDSADMIN"/>
    <add key="BsmOracleSchemaName" value="HOUR_BANK"/>
  </appSettings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ExchangeInfoServiceSoap"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="ExchangeInfoServiceSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://tlv7-new/ExchangeInfo2008/ExchangeInfoService.asmx" binding="basicHttpBinding" bindingConfiguration="ExchangeInfoServiceSoap" contract="ExchangeService.ExchangeInfoServiceSoap" name="ExchangeInfoServiceSoap"/>
      <!--<endpoint address="http://tlv7-new/ExchangeInfo2008/ExchangeInfoService.asmx" binding="customBinding" bindingConfiguration="ExchangeInfoServiceSoap12" contract="ExchangeService.ExchangeInfoServiceSoap" name="ExchangeInfoServiceSoap12"/>-->
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
