<div>
   <input type="radio" name="hour" value="1">Male<br>
    <input type="radio" name="hour" value="2">Female<br>
    <input type="radio" name="hour" value="3">Female<br>
    <button value="הקצא" onclick="dispalyResult(2)">הקצא</button>
</div>
