<div>
     <form id="rbHours">
            <input type="radio" id="rbTichnunPrev" name="hour" value="1">
                <label>
                    הקצאת שעות לפי תכנון חודש קודם
               </label>
            <br>

            <span style="font-size:  12px;font-weight:  400;padding-right:22px">
            הקצאת שעות לחודש זה על בסיס השעות שהוקצו לחודש קודם
           </span>
            <br>
             <br>
            <input type="radio" id="rbBizuaPrev" disabled="disabled" name="hour" value="2"> 
                <label  style="color:grey" >
                    הקצאת שעות לפי ביצוע חודש קודם
               </label>
            <br>
              <br>
            <input type="radio" id="rbTichnunCur" name="hour" value="3">
              <label>
                    הקצאת שעות בהתאם לביצוע חודש נוכחי
               </label>
            <br>
              <br>
               <br>
    </form>
    <div style="float:left" >
        <button id="btnAuto" value="הקצא שעות" style="width:100px" class="PurpleButton" onclick="dispalyResult(GetSelected());">הקצא שעות</button>
    </div>
</div>
<script>
    function GetSelected() {
        var myRadio = $('input[name=hour]');
        var checkedValue = myRadio.filter(':checked').val();
    
        if (checkedValue == undefined)
            checkedValue = 0;
        return checkedValue;

      //  alert($("#rbHours input[type='radio']:checked").val());
     //   alert($('input[name="myRadio"]:checked', '#myForm').val());
    }

</script>
