@model BsmWebApp.ViewModels.Budgets.BudgetMainViewModel

@{ 
   Html.RenderPartial("_MitkanDetails", Model); 
 }

<br />

<div  id="pv1">

@{
    Html.RenderPartial("_UsersInMitkan", Model);
}

</div>