@model BsmWebApp.ViewModels.Changes.AddBudgetViewModel


<div>
    <div class="row">
        <div class="col-md-2">
            <label class="TextBold"> מתקן מקבל:</label>
       </div>
        <div class="col-md-3">
            @Html.DropDownListFor(m => Model.Yechida.KodYechida, Model.Yechidot, new {@id= "KodMitkan", @onchange = "EnableFields();", @class = "ddl", style = "width: 200px;height: 29px;" })
        </div>
        <div class="col-md-1">
            <label class="TextBold"> תקציב:</label>
       </div>
        <div class="col-md-4">
            @Html.DropDownListFor(m => Model.budget.MisparTakziv, Model.Budgets, new { @id = "KodTakziv",@onchange = "EnableFields();", @class = "ddl", style = "width: 250px;height: 29px;" })
        </div>
        <div class="col-md-2">
            <a id="addNew" class="PurpleTextBoldLink pointer" onclick="DisplayAddNewTakziv()" href="#">+צור תקציב חדש</a>
        </div>
     </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-2">
            <label class="TextBold"> כמות:</label>
        </div>
        <div class="col-md-3">
            <input id="inputKamut" type="number"  onkeypress="return isNumberKey(event);" onblur="CheckAmount();" disabled="disabled" style="width: 100px" onfocus="this.select();" maxlength="4"   class="styleTBSearch GeneralText TextBoxRO" />
        </div>
        <div class="col-md-1">
            <label class="TextBold"> הנמקה:</label>
        </div>
        <div class="col-md-6">
            <textarea id="inputReson" disabled="disabled"  placeholder='רשום הנמקה לחלוקת תקציב...' style="width:350px;height:120px" maxlength="200" spellcheck="false" autofocus></textarea>
        </div>

    </div>
    <br />
    <br />
    
</div>
<div style="float:left">
    <button id="btnAuto" value="עדכן תקציב" style="width:100px" class="PurpleButton" onclick="AddBudgetAjax()">עדכן תקציב</button>
</div>



<script>
    $(document).ready(function () {
        $('#KodTakziv option').each(function (i, item) {
            if (item.text.indexOf(')') > -1) {
                var split = item.value.split(')')[0].split(' ');
                var num = split[split.length - 1];
                if (num == 0)
                    item.disabled = true;
            }
            else {
                if (item.value != 0)
                    item.disabled = true;
            }
        });

        $('#KodMitkan option').each(function (i, item) {
            if (item.text.indexOf(')') > -1) {
                var split = item.value.split(')')[0].split(' ');
                var num = split[split.length - 1];
                if (num == 0)
                    item.disabled = true;
            }
            else {
                if (item.value !=0 )
                    item.disabled = true;
            }
        });
    });

    function EnableFields() {
       // debugger;
       // var model = @Html.Raw(Json.Encode(Model));
        var selectMitkan = $('#KodMitkan')[0].selectedIndex;
        var selectTakziv = $('#KodTakziv')[0].selectedIndex;
       
        if (selectMitkan != 0 && selectTakziv != 0)
        {
            $("#inputKamut").prop('disabled', false);
            $("#inputReson").prop('disabled',false);
        }
        
    }

    function CheckAmount() {
        var kamut = $("#inputKamut").val();
        if (kamut != "") {
            var selectTakziv = $('#KodTakziv')[0].selectedIndex;
            var takziv = $("#KodTakziv option:selected").text();
            var split = takziv.split(')')[0].split(' ');
            var num = split[split.length - 1];

            if (kamut > num) {
                $("#btnAuto").prop('disabled', true);
                AlertMessage("לא ניתן לעדכן מעבר ליתרה", 150, 300);
            }
            else
                $("#btnAuto").prop('disabled', false);
        }

     
    }
    function AddBudgetAjax() {

        if (InsertAllFields()) {
            var selectMitkan = $('#KodMitkan')[0].value;
            var selectTakziv = $('#KodTakziv')[0].value;
            var inputReson = $("#inputReson").val();
            var kamutVal = $("#inputKamut").val();

            var data = { Mitkan: selectMitkan, Takziv: selectTakziv, Kamut: kamutVal, Comment: inputReson };
            $.post("/Changes/SaveBudget", data, function (res) {
                AlertMessage("תקציב נוסף בהצלחה", 150, 300);
                RefreshGridChanges();
                $("#dialog-change").dialog("close");
            });
        }
        else {
            AlertMessage("חובה לעדכן את כל השדות", 150, 300);
            return false;
        }
    }

    function InsertAllFields() {
        var selectMitkan = $('#KodMitkan')[0].selectedIndex;
        var selectTakziv = $('#KodTakziv')[0].selectedIndex;
        var inputReson = $("#inputReson").val();
        var kamut = $("#inputKamut").val();
        if (selectMitkan == 0 || selectTakziv==0 || inputReson == "" || kamut == "" || +kamut == 0) { 
            return false;
        }
        else {
            return true;
           // AddBudgetNew(@Html.Raw(Json.Encode(Model)) );
        }


    }

</script>