@model BsmWebApp.Controllers.SaveBudgetVM
<div>
    <div class="row">
        <div class="col-md-2">
            <label class="TextBold"> כמות:</label>
        </div>
        <div class="col-md-3">
            <input id="inputKamutNew" style="width: 100px" onfocus="this.select();" onkeypress="return isNumberKey(event);"  maxlength="5" class="styleTBSearch GeneralText TextBoxRO" />
        </div>
        <div class="col-md-2">
            <label class="TextBold"> שם תקציב:</label>
        </div>
        <div class="col-md-5">
            <input id="inputName" style="width: 250px" onfocus="this.select();" maxlength="40" class="styleTBSearch GeneralText TextBoxRO" />
          </div>
        
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-2">
            <label class="TextBold"> מספר תקציב:</label>
        </div>
        <div class="col-md-3">
            <input id="inputTakziv"  value="@Model.NewTakziv" disabled="disabled" 
                onfocus="this.select();"    class="styleTBSearch GeneralText TextBoxRO AmountInput" />
        </div>
        <div class="col-md-1">
            <label class="TextBold"> הנמקה:</label>
        </div>
        <div class="col-md-6">
            <textarea id="inputResonNew" placeholder='רשום הנמקה ליצירת תקציב...' style="width:350px;height:120px" maxlength="200" spellcheck="false" ></textarea>
        </div>

    </div>
    <br />
    <br />

</div>

<div style="float:left">
    <button id="btnAuto" value="צור תקציב" style="width:100px" class="PurpleButton" onclick="AddNewBudget();">צור תקציב</button>
</div>

<script>

    var data;

    $(document).ready(function () {
       
        var model = @Html.Raw(Json.Encode(Model));
        data=model;
    });


    function SetNumTakziv() {
        $.post("/Changes/GetNextTakzivNumber", function (res) {
            $("#inputTakziv").val(res);
        });
    }

  
    function AddNewBudget() {

        if (InsertAllFields()) {
           
            var NameTakziv = $("#inputName").val();
            var KamutTakziv = $("#inputKamutNew").val();
            var inputReson = $("#inputResonNew").val();
            var MisparTakziv = $("#inputTakziv").val();
             var dataNew = { Name: NameTakziv, Kamut: KamutTakziv, Takziv: MisparTakziv, Comment: inputReson };
           // debugger;
            $.post("/Changes/SaveNewBudget", dataNew, function (res) {
               //  AlertMessage("תקציב נוצר בהצלחה", 170, 300)
                $("#dialog-change").dialog("close");
                $("#dialog-new-budget").dialog("close");
                data.AddNewSucceeded=1;
                RefreshTakziv(data);
            });
        }
        else {
            AlertMessage("חובה לעדכן את כל השדות", 150, 300);
            return false;
        }
    }

    function InsertAllFields() {
        var Name = $("#inputName").val();
        var Kamut = $("#inputKamutNew").val();
        var inputReson = $("#inputResonNew").val();
        var Takziv = $("#inputTakziv").val();
        if (Name.trim() == '' || Kamut.trim() == '' || inputReson.trim() == '' || Takziv.trim() == '') {
            return false;
        }
        else {
            return true;
        }
    }

</script>