@model BsmWebApp.ViewModels.Changes.TakzivHistoryViewModel

@using(Html.BeginForm())
    { 


  <div class="t-rtl">
        @{
            //<a class="analyticsDetailsInfo" href="/Admin/ModifyExamAnalytic?examTypeId=225&analyticId=Core&addAnalytic=False">ערוך אנליטיקה</a>
        Html.Kendo().Grid(Model.TakzivHistoryList)
               .Name("HistoryList").Columns(columns =>
               {
                   columns.Bound(o => o.TeurYechida).Title("<center><strong>מתקן</strong></center>").Width(200);
                   columns.Bound(o => o.Amount).Title("<center><strong>כמות</strong></center>").HtmlAttributes(new { @style = "direction:ltr;text-align:right" }).Width(100);
                   columns.Bound(o => o.MeadkenName).Title("<center><strong>מעדכן</strong></center>").Width(100);
                   columns.Bound(o => o.TaarichIdkun).Title("<center><strong>תאריך</strong></center>").HtmlAttributes(new { @style = "direction:ltr;text-align:right" }).Width(150);               
                   columns.Bound(o => o.Reason).Title("<center><strong>הנמקה</strong></center>").Width(100);
               })
               .Render();
        }
    </div>
}

