@model  BsmWebApp.ViewModels.Changes.ChangesMainViewModel



@{ 
    Html.RenderPartial("_Filter", Model.Filter); 
 }


<div  id="pv1">

@{
    Html.RenderPartial("_Changes", Model);
}

</div>