body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.opening-btn
{
	font-family:Arial;
	background-image:url(Images/opening-btn.png); 
	background-repeat:no-repeat;
	background-color:#ECECEC;
	text-align:center;
	height:133px;
	width:133px;
	color:#717071;
	font-size:23px;
	font-weight:bolder;
	border:none;
    white-space:pre-wrap;
}

table.styled {
    border: solid 2px #e8eef4;
    border-collapse: collapse;
}

th.styled {
    padding: 6px 5px;
    text-align: right;
    background-color: #e8eef4;
    border: solid 2px #e8eef4;
}

th.styledFixed {
    position:absolute;
    width:100px;
    padding: 6px 5px;
    text-align: right;
    background-color: #e8eef4;
    border: solid 2px #e8eef4;
}

td.styled {
    padding: 5px;
    border: solid 2px #e8eef4;
}

td.styledFixed {
    position:absolute;
    width:100px;
    padding: 5px;
    border: solid 2px #e8eef4;
}

.FilterFieldSet
{	
	border-style:solid; 
	border-width:1px; 
	border-color:Gray;
	font:16px;
	padding:0px;
	margin:0px;
	vertical-align:middle;
	text-align:right;
	width:1005px;
}

hr.styled {
    BACKGROUND-COLOR: #ffffff; 
    HEIGHT: 5px; COLOR: #ffffff;
    BORDER-TOP: black 2px solid;
}


.title {
    font-family: Arial;
    color: #ffffff;
    font-size: 17.89px;
    font-weight: 400;
    line-height: 22px;
    text-align: right;
}

.name {
font-family:  Arial;
color:  #ffffff;
font-size:  13px;
font-weight:  700;
line-height:  22px;
text-align:  left;

}

.menu {
    background-color: #c3c3c3;
    width: 98.9%;
    height: 10.4%;
    margin:10px,10px,10px;
    border-bottom:none
}

.selectedTab {
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    background-color: #e7e7e7;
    /*width: 9%;*/
    height: 4.4%;
    border-color:#c3c3c3;
}

.tabFont {
    font-family: Arial;
    color: #2c2830;
    font-size: 17.89px;
    font-weight: 400;
    line-height: 22px;
    padding:15px; 
   
}

.medumFont {
font-family:  Arial;
color:  #333333;
font-size:  16px;
font-weight:  500;
text-align:  left;
}

.MainDiv {
    background-color:  #e7e7e7;
}

.textBold {
    font-family:  Arial;
    color:  #333333;
    font-size:  17.89px;
    font-weight:  700;
    line-height:  30.2px;
}

.monthButton {
    border-style:  solid;
    border-width:  1px;
    border-color:  #836083;
    background-color:  #ffffff;
    /*width:  7.7%;
    height:  2.7%;*/

}

.purpleButton {
    border-radius:  3px;
    border-style:  solid;
    border-width:  1px;
    border-color:  #e2e7e7;
    background-color:  #895e8a;
    width:  5%;
    height:  2.7%;

}

.txtBoxRO {
    border-style: solid;
    border-width: 1px;
    border-color: #e2e7e7;
    background-color: #f3f3f3;
    width:  7%;
    height:  5%;

}

