.ui-dialog .ui-dialog-title{
    font-size: 80% !important;
    direction:rtl;
    margin-right:10px;
    float :none;
}

.clickable{
    cursor: pointer;
    background:rgba(190, 168, 190, 0.5);
    border-width:  1px;
    border-color:  #895e8a;
    border-style:  solid;

}



/*
.grid tbody td:first-child {
    border-left-width :1px;
}

.disabled{
    color:gray;
    background-color:lightgray;
}*/