<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p [%logger] - %m%n" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender" >
      <file type="log4net.Util.PatternString"
            value="Logs\\%appdomain_%property{log4net:HostName}.txt"/>
      <immediateFlush value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="20"/>
      <maximumFileSize value="1MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p-[%logger] %m%n" />
      </layout>
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p-[%logger] %m%n" />
      </layout>
    </appender>
    <!--<appender name="DBLogAppender" type="RGInfrastructure.Logs.LogAdapters.Log4net.DBLog4NetLoggerClient">
      --><!--<threshold value="WARN"/>--><!--
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d Thread: [%thread] %-5p-[%logger] %m%n" />
      </layout>
    </appender>-->

    <root>
      <level value="DEBUG" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="RollingFileAppender" />
     <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <!--the levels of logs are DEBUG, INFO, WARN, ERROR, FATAL.
   The root->level value defines the minimum value for all the logs -->
</configuration>