<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
   <!--<configSections>
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
</configSections>-->
  <connectionStrings>
    <!--<add name="KDS_CONNECTION" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=oracledev)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=kdstst))); User Id=kdsadmin;Password=maayan;" providerName="Oracle.ManagedDataAccess.Client" />-->
     <add name="KDS_CONNECTION" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=oracledev)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=kdstst))); User Id=kdsadmin_gw;Password=nghhi24;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="BSM_CONNECTION" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=oracledev)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=kdstst))); User Id=HOUR_BANK;Password=HB19GKM;" providerName="Oracle.ManagedDataAccess.Client" />

    <!--<add name="KDS_CONNECTION" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=kdsprdv)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=kdsprd))); User Id=kdsadmin_gw;Password=nghhi24;" providerName="Oracle.ManagedDataAccess.Client"  />
    <add name="BSM_CONNECTION" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=kdsprdv)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=kdsprd))); User Id=HOUR_BANK;Password=HB19GKM;" providerName="Oracle.ManagedDataAccess.Client" />-->
  </connectionStrings>
  <!--<startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>-->      
  <appSettings>
    <add key="BSM_CONNECTION" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=oracledev)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=kdstst))); User Id=HOUR_BANK;Password=HB19GKM;" />
    <!--<add key="BSM_CONNECTION" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=kdsprdv)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=kdsprd))); User Id=HOUR_BANK;Password=HB19GKM;"/>-->
    
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="KdsOracleSchemaName" value="KDSADMIN" />
    <add key="BsmOracleSchemaName" value="HOUR_BANK" />
    <add key="RSUserName" value="runbatch" />
    <add key="RSPassword" value="runbatch" />
    <add key="RSDomain" value="EGGED_D" />
    <add key="SessionWarning" value="20" />
    <add key="KdsPathPage" value="http://kdstest/Modules/Ovdim/NochechutMerukezet.aspx" />

    <add key="DebugModeUserName" value="false" />
    <add key="DebugUserName" value="EGGED_D\tomerh" />
    
    <add key="ReportServerUser" value="runbatch" />
    <add key="ReportServerPassword" value="runbatch" />
    <add key="ReportServerDomain" value="EGGED_D" />
    <add key="RSFolderApplication" value="/KdsReports/" />

    <add key="url_2012" value="http://sql2012tst.egged.intra/ReportServer" />
    <add key="service_url_2012" value="http://sql2012tst.egged.intra/ReportServer/ReportExecution2005.asmx" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <system.web>

    <customErrors mode="Off"/>  
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ExchangeInfoServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ExchangeInfoServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://tlv7-new/ExchangeInfo2008/ExchangeInfoService.asmx" binding="basicHttpBinding" bindingConfiguration="ExchangeInfoServiceSoap" contract="ExchangeService.ExchangeInfoServiceSoap" name="ExchangeInfoServiceSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" /></handlers>
  <validation validateIntegratedModeConfiguration="false" /></system.webServer>
</configuration>