<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--<connectionStrings>
    <add name="KDS_CONNECTION" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=oracledev)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=kdstst))); User Id=kdsadmin;Password=maayan;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="BSM_CONNECTION" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=oracledev)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=kdstst))); User Id=HOUR_BANK;Password=HB19GKM;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="BSM_CONNECTION" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=oracledev)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=kdstst))); User Id=HOUR_BANK;Password=HB19GKM;"  xdt:Transform="Replace" xdt:Locator="Match(key)" />

  </appSettings>-->
</configuration>