<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
   <connectionStrings>
    <add name="KDS_CONNECTION" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=kdsprdv)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=kdsprd))); User Id=kdsadmin;Password=nghhi09;" providerName="Oracle.ManagedDataAccess.Client"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="BSM_CONNECTION" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=kdsprdv)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=kdsprd))); User Id=HOUR_BANK;Password=HB19GKM;" providerName="Oracle.ManagedDataAccess.Client" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>  
  </connectionStrings>
  
  <appSettings>
        <add key="BSM_CONNECTION" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=kdsprdv)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=kdsprd))); User Id=HOUR_BANK;Password=HB19GKM;"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    
  </appSettings>
 
</configuration>
